@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,800&display=swap');

.header{
  display: flex;
justify-content: center;
margin-bottom: 20px;
}

.header-item{
  font-family: 'Rubik', sans-serif;
  font-size: 20pt;
  width: 300px;
  margin-right: 20px;
}
.subheader-item{
  font-family: 'monospace';
  width: 300px;
  margin-right: 20px;
}
