<div class="container">
<h2>About</h2>
  <p>Often when learning about IPv4 subnetting, a lecture is given with a whiteboard and scenarios that are worked through one at a time.</p>
  <p>If your working memory isn't the best, the slow delivery of information can make it hard to viusalize what is going on and what a solution should look like.</p>
  <p>With the Random Network Generator you can get an overall feel for what subnetting involves. This may make it easier to then go and apply different subnetting techniques after you have an idea in your head about what the end result should be.</p>

</div>
