<div class="input-group">
  <app-bit id="bit0" name="bit0" [bit]="byte[0]"></app-bit>
  <app-bit id="bit1" name="bit1" [bit]="byte[1]"></app-bit>
  <app-bit id="bit2" name="bit2" [bit]="byte[2]"></app-bit>
  <app-bit id="bit3" name="bit3" [bit]="byte[3]"></app-bit>
  <app-bit id="bit4" name="bit4" [bit]="byte[4]"></app-bit>
  <app-bit id="bit5" name="bit5" [bit]="byte[5]"></app-bit>
  <app-bit id="bit6" name="bit6" [bit]="byte[6]"></app-bit>
  <app-bit id="bit7" name="bit7" [bit]="byte[7]"></app-bit>
</div>
