<app-header></app-header>

<div class="subnets">
  <div class="subnet">
    <div class="subnet-item">subnet-item</div>
    <div class="subnet-item">subnet-item</div>
    <div class="subnet-item">subnet-item</div>
  </div>
  <div class="subnet">
    <div class="subnet-item">subnet-item</div>
    <div class="subnet-item">subnet-item</div>
    <div class="subnet-item">subnet-item</div>

  </div>
  <div class="subnet">
    <div class="subnet-item">subnet-item</div>
    <div class="subnet-item">subnet-item</div>
    <div class="subnet-item">subnet-item</div>

  </div>
</div>
