<div class="inputs-form">

  <h2>Inputs</h2>
  <form *ngIf="inputs.subnets && subnets" #heroForm="ngForm" appIdentityRevealed>
        <div class="form-group">
          <label for="network">Number of networks Required</label>
          <input type="number" id="network" name="network" class="form-control"
                required
                [(ngModel)]="inputs.network" #network="ngModel">
        </div>

      <div class="form-group">
        <label for="subnets"> subnets</label>
        <select id="subnets"
                name="subnets"
                [(ngModel)]="inputs.subnets"
                #subnets="ngModel"
                class="form-control">
          <option *ngFor="let s of [1,2,3]" [value]="s">{{s}}</option>
        </select>
      </div>

      <button type="submit" class="form-control" >Submit</button>


  </form>
</div>

