<div class="settings">
  settings
  <div>
    IP:
    <select name="ip1" id="ip1">
      <option value="auto">auto</option>
      <option value=1>1</option>
      <option value=2>2</option>
    </select>.  <select name="ip1" id="ip1">
      <option value="auto">auto</option>
      <option value=1>1</option>
      <option value=2>2</option>
    </select>.  <select name="ip1" id="ip1">
      <option value="auto">auto</option>
      <option value=1>1</option>
      <option value=2>2</option>
    </select>.  <select name="ip1" id="ip1">
      <option value="auto">auto</option>
      <option value=1>1</option>
      <option value=2>2</option>
    </select>
  </div>
  <div>
    Mask (CIDR):
    <select name="ip1" id="ip1">
      <option value="auto">auto</option>
      <option value=1>1</option>
      <option value=2>2</option>
    </select>
  </div>

  <div>
    Number of Subnets:
    <select name="ip1" id="ip1">
      <option value=1>1</option>
      <option value=2>2</option>
    </select>
  </div>

</div>
