<div class="subnet">
  <h4>Subnet {{subnetId}}</h4>
    <table>
      <thead>
        <tr>
          <th class="td0"></th>
          <th style="text-align: left;">Binary</th>
          <th></th>
          <th style="text-align: left;">Decimal</th>
          <th style="text-align: left;"></th>
          <th style="text-align: left;"></th>
          <th style="text-align: left;"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="td0">Network IP</td>
          <td>{{network.ip.strBinaryDisplay}}</td>
          <td> </td>
          <td class="td-right">{{network.ip.ipIntegersArray[0]}}.</td>
          <td class="td-right">{{network.ip.ipIntegersArray[1]}}.</td>
          <td class="td-right">{{network.ip.ipIntegersArray[2]}}.</td>
          <td class="td-right">{{network.ip.ipIntegersArray[3]}}</td>
        </tr>
        <tr>
          <td class="td0">Subnet Mask ({{network.cidr}})</td>
          <td class="td-right">{{network.mask.strBinaryDisplay}}</td>
          <td class="td-right"> </td>
          <td class="td-right">{{network.mask.ipIntegersArray[0]}}.</td>
          <td class="td-right">{{network.mask.ipIntegersArray[1]}}.</td>
          <td class="td-right">{{network.mask.ipIntegersArray[2]}}.</td>
          <td class="td-right">{{network.mask.ipIntegersArray[3]}}</td>
        </tr>
        <tr>
          <td class="td0">Subnet</td>
          <td class="td-right">{{network.subnet.strBinaryDisplay}}</td>
          <td class="td-right"> </td>
          <td class="td-right">{{network.subnet.ipIntegersArray[0]}}.</td>
          <td class="td-right">{{network.subnet.ipIntegersArray[1]}}.</td>
          <td class="td-right">{{network.subnet.ipIntegersArray[2]}}.</td>
          <td class="td-right">{{network.subnet.ipIntegersArray[3]}}</td>
        </tr>

      <tr>
        <td class="td0">Host Address</td>
        <td class="td-right">{{network.hostAddress.strBinaryDisplay}}</td>
        <td class="td-right"> </td>
        <td class="td-right">{{network.hostAddress.ipIntegersArray[0]}}.</td>
        <td class="td-right">{{network.hostAddress.ipIntegersArray[1]}}.</td>
        <td class="td-right">{{network.hostAddress.ipIntegersArray[2]}}.</td>
        <td class="td-right">{{network.hostAddress.ipIntegersArray[3]}}</td>
      </tr>
    <tbody>
      <tr>
        <td class="td0">Broadcast Address</td>
        <td class="td-right">{{network.broadcastAddress.strBinaryDisplay}}</td>
        <td class="td-right"> </td>
        <td class="td-right">{{network.broadcastAddress.ipIntegersArray[0]}}.</td>
        <td class="td-right">{{network.broadcastAddress.ipIntegersArray[1]}}.</td>
        <td class="td-right">{{network.broadcastAddress.ipIntegersArray[2]}}.</td>
        <td class="td-right">{{network.broadcastAddress.ipIntegersArray[3]}}</td>
      </tr>
    </tbody>
  </table>
</div>
